<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluxuniversity</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-primary text-white text-center py-3">
            <h2>List of all classes</h2>

        </div>
    </div>
    

    <div  class="container mt-5">

        <div class="row g-3" id="class">
            <a href="/addclass" class="btn btn-light text-primary"><i class="fa fa-plus"></i> Create Virual Class</a>

        </div>
    </div>

    <script src="js/jquery.min.js"></script>
   <script src="js/classes.js"></script>
</body>
</html>